<ion-content>
  <ion-row class="back-icon">
    <a routerLink="/categories">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row>
      <ion-col size="12">
        <h2>Mon compte</h2>
      </ion-col>
  </ion-row>

  <ion-row class="userInformations">
    <ion-col size="12" class="userName">
      <p>{{first_name}} {{last_name}}</p>  
    </ion-col>
    <ion-col size="12" class="userEmail">
      <p>{{email}}</p>
    </ion-col>
      <ion-col size="12" class="userPassword">
      <p>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</p>
    </ion-col>
  </ion-row>

  <ion-col size="12">
    <p class="logout"><a routerLink="/home">Se déconnecter</a></p>
  </ion-col>
</ion-content>