* {
  text-transform: initial;
}

.back-icon {
  margin-top: 10%;
  margin-left: 5%;
  a {
    color: #555 !important;
  }
}

.txtProfil {
  font-size: 0.85rem;
  span {
    color: #0089ff;
  }
}

p,
h2 {
  color : #555;
  text-align: center;
}

a {
  color: #00b0ff;
}

ion-card {
  box-shadow: none;
  --border-radius: none;
  margin-top: 1em;
  margin-bottom: 2em;
  border: solid 2px #0073ff;
  ion-card-content {
    p {
      padding-top: 0.5em;      
      padding-bottom: 0.5em;
      text-align: left;
    }
    .champsProfil:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
    span {
      font-weight: bold;
    }
  }
}

.btnEdit {
  --background: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
  --background-hover: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
  --background-focused: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
  --background-activated: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
  --box-shadow:none;
}
