<ion-content>
  <ion-row class="back-icon">
    <a routerLink="/categories">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row>
      <ion-col size="12">
        <h2>Mon profil</h2>
        <p class="txtProfil">Bonjour <span>{{user?.username}}</span>, bienvenu(e) sur ton profil !</p>
        <p class="txtProfil">Retrouves toutes tes informations ci-dessous.</p>
      </ion-col>
  </ion-row>

<ion-content expand="full" class="ion-padding, userInformations">
  <ion-card>
    <ion-card-content>
      <p class="champsProfil"><span>Pseudo :</span> {{user?.username}}</p>
      <p class="champsProfil"><span>Nom :</span> {{user?.last_name}}</p>
      <p class="champsProfil"><span>Prénom :</span> {{user?.first_name}}</p>
      <p class="champsProfil"><span>Téléphone :</span> {{user?.phone}}</p>
      <p class="champsProfil"><span>Email :</span> {{user?.email}}</p>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col size="12">
        <ion-button expand="full" routerLink="/profil-edit" class="btnEdit">Editer mon profil</ion-button>
    </ion-col>
</ion-row>

</ion-content>
