<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player54"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 11, Les plugins</p>
    <p class="videosDescription">WordPress offre par défaut un assez grand nombre de fonctionnalités mais on se retrouve parfois avec des besoins qui sortent des outils offerts de base. Dans ce cas là il faudra avoir recours à des plugins qui permettent de rajouter des fonctionnalités supplémentaire à WordPress (comme par exemple un formulaire de contact).</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 