<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player23"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte du CSS : Chapitre 6, Les unités de mesures</p>
    <p class="videosDescription">Comme avec les couleurs, il est possible de définir les dimensions de nos éléments de plusieurs manières. En plus des unités classiques comme le pixel ou le cm, il existe de nombreuses unités spécifiques au CSS qui peuvent être pertinentes suivant les situations.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../css" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 