<ion-content>
  <ion-row class="back-icon">
    <a routerLink="/categories">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="profil-icon">
    <a routerLink="/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="categoriesTitle">
      <ion-col size="12">
        <h2>Angular</h2>
      </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Formation AngularJS : Introduction</p>
    <p class="videosDescription">AngularJS est un framework javascript qui permet de créer des application web dynamiques.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-introduction" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (1/10) : Les Directives</p>
    <p class="videosDescription">Dans ce chapitre nous verrons une partie essentiel d'AngularJS : **Les Directives**.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-directives" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (2/10) : Les Controllers et le Scope</p>
    <p class="videosDescription">Dans ce chapitre nous allons voir 2 notions importantes : les **Controllers** et le **Scope**.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-controllers-scope" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (3/10) : Les Modules</p>
    <p class="videosDescription">Les modules permettent d'organiser le code de son application et aussi de le rendre réutilisable.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-modules" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (4/10) : Les Routes</p>
    <p class="videosDescription">Jusqu'à maintenant nous avons créer une page avec quelques fonctions dynamique. Mais dans le cadre d'une véritable application il est intéressant d'avoir des URLs spécifique pour chaque étape.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-routes" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (5/10) : Les Services</p>
    <p class="videosDescription">Les services agissent comme la couche "Model", ils permettent de fournir une interface pour récupérer et stocker des données provenant de différentes sources.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-services" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (6/10) : Les Promesses</p>
    <p class="videosDescription">Nous allons maintenant finir ce chapitre sur les bases d'AngularJS en peaufinant notre exemple en utilisant des données distantes avec $http et nous verrons comment utiliser les promesses.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-promesses" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (7/10) : Les Filtres</p>
    <p class="videosDescription">Les filtres sur angularjs permettent de manipuler les données avant de les formater ou de les filtrer. AngularJS dispose de 9 filtres fournit par défaut.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-filtres" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (8/10) : Créer ses directives</p>
    <p class="videosDescription">Dans cette nouvelle partie nous allons détailler plus en profondeur certains éléments du Framework et nous allons commencer par les directives.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-directives-deux" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (9/10) : Les Ressources</p>
    <p class="videosDescription">L'object $http permet de faire des requêtes Ajax très simplement mais il s'avère relativement pénible à utiliser pour des applications complexes.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-ressources" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-angular.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (10/10) : $apply, $watch et $digest</p>
    <p class="videosDescription">Nous allons maintenant faire le point sur le fonctionnement interne d'AngularJS.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular-apply-watch-digest" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 