<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player5"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte du CSS : Chapitre 2, Les sélecteurs</p>
    <p class="videosDescription">Les sélecteurs vont permettre de cibler les éléments que l'on souhaite mettre en forme dans notre page web. Il peuvnet être plus ou moins complexe suivant les situations.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../css" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 