* {
  text-transform: initial;
}

.back-icon {
  margin-top: 10%;
  margin-left: 5%;
  a {
    color: #555 !important;
  }
}

.logo {
  margin: auto;
  width: 40%;
  margin-top: 10%;
}

p,
h2 {
  text-align: center;
  color : #555;
}

.form {
  ion-label {
    color: #999;
  }
}

.form {
  .btnLogin {
    --background: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
    --background-hover: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
    --background-focused: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
    --background-activated: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
    --box-shadow:none;
  }
  .errorEmail {
    border-bottom: #ff0062;
    --border-color: #ff0062;
    --highlight-background: #ff0062;
  }
  .goodEmail {
      border-bottom: #12eb48;
      --border-color: #12eb48;
      --highlight-background: #12eb48;
  }
}