<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player32"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Le préprocesseur SASS : Chapitre 7, Les conditions</p>
    <p class="videosDescription">Les conditions permettent d'effectuer une vérification et de générer du code en fonction du résultat de cette vérification.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../sass" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 