<ion-content>
  <ion-row class="profil-icon">
    <a routerLink="/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="categoriesTitle">
      <ion-col size="12">
        <h2>Catégories</h2>
      </ion-col>
  </ion-row>
  
  <ion-row class="categoriesList">
      <ion-col size="12">
          <ion-button expand="full" routerLink="../video-play" class="btnCategories">Nom de la catégorie</ion-button>
          <ion-button expand="full" routerLink="../video-play" class="btnCategories">Nom de la catégorie</ion-button>
          <ion-button expand="full" routerLink="../video-play" class="btnCategories">Nom de la catégorie</ion-button>
          <ion-button expand="full" routerLink="../video-play" class="btnCategories">Nom de la catégorie</ion-button>
          <ion-button expand="full" routerLink="../video-play" class="btnCategories">Nom de la catégorie</ion-button>
          <ion-button expand="full" routerLink="../video-play" class="btnCategories">Nom de la catégorie</ion-button>
          <ion-button expand="full" routerLink="../video-play" class="btnCategories">Nom de la catégorie</ion-button>
      </ion-col>
  </ion-row>
</ion-content>