<ion-content>
  <ion-row class="profil-icon">
    <a routerLink="/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="categoriesTitle">
    <ion-col size="12">
      <h2>Catégories</h2>
    </ion-col>
  </ion-row>
  
  <ion-row class="categoriesList">
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html" class="btnCategories">HTML</ion-button>
      <ion-button expand="full" routerLink="../css" class="btnCategories">CSS</ion-button>
      <ion-button expand="full" routerLink="../sass" class="btnCategories">SASS</ion-button>
      <ion-button expand="full" routerLink="../angular" class="btnCategories">Angular</ion-button>
      <ion-button expand="full" routerLink="../ionic" class="btnCategories">Ionic</ion-button>
      <ion-button expand="full" routerLink="../wordpress" class="btnCategories">Wordpress</ion-button>
    </ion-col>
  </ion-row>
</ion-content>