<ion-content>
  <ion-row class="back-icon">
    <a routerLink="/categories">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="profil-icon">
    <a routerLink="/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="categoriesTitle">
      <ion-col size="12">
        <h2>CSS</h2>
      </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-css.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte du CSS : Chapitre 1, Présentation</p>
    <p class="videosDescription">Maintenant que nous avons vu l'HTML je vous propose de découvrir le CSS. Ce langage va permettre de mettre en forme les éléments qui constitue notre page web.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../css-introduction" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-css2.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte du CSS : Chapitre 2, Les sélecteurs</p>
    <p class="videosDescription">Les sélecteurs vont permettre de cibler les éléments que l'on souhaite mettre en forme dans notre page web. Il peuvnet être plus ou moins complexe suivant les situations.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../css-selecteurs" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 