<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player25"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte du CSS : Chapitre 8, Les éléments flottants : float</p>
    <p class="videosDescription">Par défaut la pluspart des éléments (ceux en display: block) vont s'empiler les uns sous les autres. C'est un comportement que l'on voudra parfois contourner pour juxtaposer des éléments horizontalement. On pourra alors avoir recours aux éléments flottants qui permettent de sortir un élément du flux normal pour le placer à droite ou à gauche de son conteneur.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../css" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 