<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player15"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 6, L'en-tête head</p>
    <p class="videosDescription">L'en tête est la première partie d'une page web et permet de définir des informations sur votre document HTML. Les informations qui y sont placées ne seront pas visible directement par l'utilisateur mais permettront de mieux décrire ce que contient votre page.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 