<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player4"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte du CSS : Chapitre 1, Présentation</p>
    <p class="videosDescription">Maintenant que nous avons vu l'HTML je vous propose de découvrir le CSS. Ce langage va permettre de mettre en forme les éléments qui constitue notre page web.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../css" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 