<ion-content class="scroller">

  <ion-row class="logo">
      <ion-col size="12" class="ion-align-self-center">
        <img src="assets/img/logo-appli.svg" alt="">
      </ion-col>
  </ion-row>
  <ion-row class="registerForm">
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Prénom</ion-label>
          <ion-input type="text" [(ngModel)]="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input type="text" [(ngModel)]="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pseudo</ion-label>
          <ion-input type="text" [(ngModel)]="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password" [(ngModel)]="pass"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmer le mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="pass"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-button expand="full" class="btnRegister">S'inscrire</ion-button>
      </ion-col>
      <ion-col size="12">
          <ion-button expand="full" class="btnRegisterFb">
            <ion-icon name="logo-facebook"></ion-icon>
            &nbsp;S'inscrire avec Facebook
          </ion-button>
      </ion-col>
  </ion-row>
  <p class="registerLink">Tu as déjà un compte ? <a routerLink="/login">Connecte-toi !</a></p>
</ion-content>