* {
  text-transform: initial;
}

.logo {
  margin: auto;
  width: 40%;
  margin-top: 10%;
}

.form {
  .btnLogin {
    margin-top: 5%;
      --background: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --background-hover: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --background-focused: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --background-activated: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --box-shadow:none;
  }
  .errorEmail {
    border-bottom: #ff0062;
    --border-color: #ff0062;
    --highlight-background: #ff0062;
  }
  .goodEmail {
      border-bottom: #12eb48;
      --border-color: #12eb48;
      --highlight-background: #12eb48;
  }
  .forgot {
      margin-top: 0;
      text-align: center;
  }
  ion-label {
    color: #999;
  }
}

p {
  color: #555 !important;
  text-align: center;
}

a {
  color: #00b0ff;
}

.registerLink {
  margin-top: 5%;
  font-size: 0.75em;
}