* {
  text-transform: initial;
}

.avatar {
  margin-top: 20%;
  margin-bottom: 20%;
  ion-col {
    text-align: center;
    input {
        padding: 15% 18%;
        border-radius: 50%;
    }
    ion-icon {
        color: white;
        margin-top: 30%;
        margin-left: -25%;
        position: absolute;
        border-radius: 50%;
        font-size: xxx-large;
        background: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
    }
  }
}

.form {
  .btnLogin {
    margin-top: 5%;
      --background: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --background-hover: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --background-focused: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --background-activated: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --box-shadow:none;
  }
  .btnFb {
    --box-shadow:none;
    --background: #3B5998;
  }
  .forgot {
      margin-top: 0;
      text-align: center;
  }
  ion-label {
    color: #999;
  }
}

p {
  color: #555 !important;
  text-align: center;
}

a {
  color: #00b0ff;
}

.registerLink {
  margin-top: 5%;
  font-size: 0.75em;
}