* {
  text-transform: initial;
}

.logo {
  margin: auto;
  width: 40%;
  margin-top: 10%;
}

.registerForm {
  .btnRegister {
    margin-top: 2%;
      --background: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --background-hover: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --background-focused: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --background-activated: linear-gradient(to right, #00b0ff, #009eff, #0089ff, #0073ff, #0057ff);
      --box-shadow:none;
  }
  .btnRegisterFb {
    --box-shadow:none;
    --background: #3B5998;
    --background-hover: #3B5998;
    --background-focused: #3B5998;
    --background-activated: #3B5998;
  }
  .forgot {
      margin-top: 0;
      text-align: center;
  }
  ion-label, ion-item {
    color: #999;
    margin: 0 !important;
  }
}

p {
  color: #555 !important;
  text-align: center;
}

a {
  color: #00b0ff;
}

.registerLink {
  margin-top: 2%;
  font-size: 0.75em;
}