<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player37"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (2/10) : Les Controllers et le Scope</p>
    <p class="videosDescription">Dans ce chapitre nous allons voir 2 notions importantes : les **Controllers** et le **Scope**.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 