<ion-content>
  <ion-row class="back-icon">
    <a routerLink="/categories">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="profil-icon">
    <a routerLink="/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="categoriesTitle">
      <ion-col size="12">
        <h2>Wordpress</h2>
      </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 1, Présentation de WordPress</p>
    <p class="videosDescription">Dans ce premier chapitre je vous propose de faire le point sur ce qu'est WordPress.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-introduction" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 2, Mettre en place WordPress sur Infomaniak</p>
    <p class="videosDescription">Nous allons dans cette vidéo découvrir comment installer notre premier site WordPress.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-installation" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 3, Découverte de l'interface WordPress</p>
    <p class="videosDescription">Dans ce chapitre nous allons découvrir ensemble l'administration de WordPress en faisant un petit tour du propriétaire.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-interface" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 4, L'éditeur de contenu</p>
    <p class="videosDescription">Nous allons maintenant évoquer le fonctionnement de l'éditeur de contenu. Bien comprendre le fonctionnement de l'éditeur est essentiel car il sera votre moyen principal d'insérer du contenu sur votre site.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-editeur" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 5, Gestion du menu</p>
    <p class="videosDescription">Il est important de mettre en place un menu afin de permettre à vos utilisateurs de naviguer.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-menu" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 6, Gestion du blog</p>
    <p class="videosDescription">Nous allons maintenant nous focaliser sur la gestion de la partie blog du site. Nous allons voir comment gérer les catégories, les tags, et le système de commentaires.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-blog" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 7, Gestion de la page d'accueil</p>
    <p class="videosDescription">Par défaut WordPress affiche une liste d'actualités lorsque l'on se rend sur la page d'accueil. Ceci peut convenir dans le cadre d'un blog mais pas nécessairement dans le cadre d'un site où on souhaitera afficher une page spécifique en tant que page d'accueil.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-accueil" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 8, Gestion des widgets</p>
    <p class="videosDescription">Certains thèmes offre des emplacements permettant d'ajouter des modules.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-wdigets" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 9, Les thèmes</p>
    <p class="videosDescription">Dans ce chapitre nous allons voir comment changer le thème de son site et comment télécharger de nouveaux thème depuis le site de WordPress.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-themes" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 10, Gestion des médias</p>
    <p class="videosDescription">Nous allons rapidement évoquer la gestion des images. WordPress dispose d'un panneau média qui centralise tous les fichiers envoyés sur votre site.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-medias" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-wordpress.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte de WordPress : Chapitre 11, Les plugins</p>
    <p class="videosDescription">WordPress offre par défaut un assez grand nombre de fonctionnalités mais on se retrouve parfois avec des besoins qui sortent des outils offerts de base. Dans ce cas là il faudra avoir recours à des plugins.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../wordpress-plugins" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 