<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player26"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Découverte du CSS : Chapitre 9, La propriété background</p>
    <p class="videosDescription">Dans ce chapitre nous allons nous attarder sur une propriété très utile pour mettre en page notre site : la propriété background. Cette propriété peut prendre de nombreuses valeurs et il est important de bien comprendre ce qu'elles signifient.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../css" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 