<ion-content>
  <ion-row class="back-icon">
    <a routerLink="/categories">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="profil-icon">
    <a routerLink="/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="categoriesTitle">
      <ion-col size="12">
        <h2>HTML</h2>
      </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 1, Introduction</p>
    <p class="videosDescription">Dans cette vidéo découvrons ce qu'est l'HTML et qu'elle est sa place dans l'apprentissage de la création de sites internet.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-introduction" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html2.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 2, La syntaxe</p>
    <p class="videosDescription">Dans cette vidéo découvrons la syntaxe de l'HTML et le fonctionnement de balises et des attributs.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-syntaxe" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html3.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 3, Installation de Visual Studio Code (Windows)</p>
    <p class="videosDescription">Avant de pouvoir pratiquer l'HTML il est nécessaire d'installer un éditeur qui vous permettra de modifier le code HTML de vos pages.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-editeur-windows" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html3.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 4, Installation de Visual Studio Code (MacOs)</p>
    <p class="videosDescription">Avant de pouvoir pratiquer l'HTML il est nécessaire d'installer un éditeur qui vous permettra de modifier le code HTML de vos pages.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-editeur-mac" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html3.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 5, Installation de Visual Studio Code (Linux)</p>
    <p class="videosDescription">Avant de pouvoir pratiquer l'HTML il est nécessaire d'installer un éditeur qui vous permettra de modifier le code HTML de vos pages.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-editeur-linux" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html6.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 6, L'en-tête head</p>
    <p class="videosDescription">L'en tête est la première partie d'une page web et permet de définir des informations sur votre document HTML.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-head" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html7.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 7, L'encodage</p>
    <p class="videosDescription">Je vous propose de nous attarder sur le principe d'encodage des caractères.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-encodage" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html8.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 8, Les éléments textuels body</p>
    <p class="videosDescription">Maintenant que nous avons vu les en têtes nous allons pouvoir voir ce que l'on peut placer dans la partie `body`de notre page web.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-body" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html9.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 9, Les liens hypertextes</p>
    <p class="videosDescription">Même si la balise semble simple à utiliser au premier abord, il est important de comprendre les différents types de lien que l'on peut utiliser.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-liens" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-html10.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 10, Les images</p>
    <p class="videosDescription">En plus du contenu textuel il est possible d'insérer des éléments multimédia au niveau de notre page web.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html-images" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 