<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player16"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 7, L'encodage</p>
    <p class="videosDescription">Aujourd'hui, je vous propose de nous attarder sur le principe d'encodage des caractères. Bien comprendre comment votre ordinateur encode vos fichiers va vous permettre d'éviter de nombreuses erreurs par la suite. Un des problèmes typique que l'on rencontre lorsque l'on commence à écrire nos premiers fichiers HTML c'est l'apparition de caractères "bizarres" à la place de nos caractères accentués.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 