<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player19"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Apprendre l'HTML : Chapitre 10, Les images</p>
    <p class="videosDescription">En plus du contenu textuel il est possible d'insérer des éléments multimédia au niveau de notre page web. Aussi, nous allons découvrir comment insérer des images au sein de notre page à l'aide de la balise `img`. On en profitera aussi pour parler des différents formats d'images qui existe aujourd'hui.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../html" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 