<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player41"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">AngularJS 1 (6/10) : Les Promesses</p>
    <p class="videosDescription">Nous allons maintenant finir ce chapitre sur les bases d'AngularJS en peaufinant notre exemple en utilisant des données distantes avec $http et nous verrons comment utiliser les promesses.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 