<ion-content>
  <ion-row class="videosLink">
    <ion-col size="12">
      <ion-item expand="full" class="videosLink">
        <div id="youtube-player"></div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Formation AngularJS : Introduction</p>
    <p class="videosDescription">AngularJS est un framework javascript qui permet de créer des application web dynamiques. Ce type d'applications (souvent appellées SPA pour Single Page Application) sont de plus en plus présentes avec des périphériques connectés de plus en plus variés.  
      <br>
      Malheureusement, créer une application tenant sur une seule page n'est pas chose simple. En effet, cela requiert l'utilisation de beaucoup de javascript et il est très difficile de bien s'organiser et d'obtenir une application maintenable et modulable. Et c'est ici qu'AngularJS intervient.</p>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../angular" class="playBouton">Retour aux vidéos</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 