<ion-content>
  <ion-row class="back-icon">
    <a routerLink="/categories">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="profil-icon">
    <a routerLink="/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </a>
  </ion-row>

  <ion-row class="categoriesTitle">
      <ion-col size="12">
        <h2>SASS</h2>
      </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-sass.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Le préprocesseur SASS : Chapitre 1, Présentation de SASS</p>
    <p class="videosDescription">Je vous propose dans cette formation de découvrir ensemble le préprocesseur SASS.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../sass-introduction" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="videosImg">
    <ion-col size="12">
      <img src="assets/img/capture-sass2.jpg" alt="Capture de la vidéo">
    </ion-col>
  </ion-row>

  <ion-row class="videosInformation">
    <p class="videosTitle">Le préprocesseur SASS : Chapitre 2, Installation de SASS</p>
    <p class="videosDescription">Dans cette vidéo nous allons voir comment installer et utiliser le préprocesseur SASS. Le préprocesseur peut être utilisé de trois manières différentes.</p>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" routerLink="../sass-installation" class="playBouton">Lire la vidéo</ion-button>
    </ion-col>
  </ion-row>
</ion-content> 